{% load static %} 
{% include "component/header.html" %}
    <main>
    <div class="container">
      <div class="row">
      </div>
      <div class="row">


        <div class="col s6">
            <div class="card horizontal">
                <div class="card-image " >
                  <img src="{{pic}}">
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                      <h3 class="flow-text" style="text-align: center;">{{name}}</h3>
                  </div>
                  
                </div>
              </div>

        </div>


        
        <div class="input-field col s6">
            <form  method="post">
                {% csrf_token %}
          <select class="browser-default" name="couser">
            {% if ans != 'none'%}

            {% for cousre in courseLists %} 

            {% if cousre.id == cID  %}
            <option selected="selected" value="{{cousre.id}},{{ cousre.name }}">{{ cousre.name }}</option>
            {% else %}
            <option value="{{cousre.id}},{{ cousre.name }}">{{ cousre.name }}</option>
            {% endif %}

            {% endfor %}

            {% else %}

            <option selected="selected" style="color:red" disabled>Please select course!!</option>

            {% for cousre in courseLists %} 
            <option value="{{cousre.id}},{{ cousre.name }}">{{ cousre.name }}</option>
            {% endfor %}

            {% endif %}
          </select>
        <br />

          <button class="btn waves-effect waves-light" style="float: right;" type="submit" name="cours">Submit
              <i class="material-icons right">send</i>
            </button>

        </form>
      </div>



      </div>
      <div class="row">{% if course_flag %}
          <div id="modal" class="modal">
              <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
              </div>
          </div>
          {% endif %}</div>
      <div class="row">
        <div class="col s12">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
    </main>
    {% include "component/footer.html" %}