{% load static %} {% include "component/header.html" %}
<main>
<div class="container">
    <div class="row"></div>
    <div class="row">

        <div class="col s5">


            <div class="card purple darken-4">
                <div class="card-content white-text">
                    <span class="card-title">
                        {% if 'https:' not in studentinfo.profile.photoUrl %}

                        <img src="https:{{studentinfo.profile.photoUrl}}" alt="Smiley face" align="middle" height="150" width="150">
                        {% else %}
                        <img src="{{studentinfo.profile.photoUrl}}" alt="Smiley face" align="middle" height="150" width="150">
                        {% endif %}
                    </span>


                    <p>Name : {{studentinfo.profile.name.fullName}}</p>
                    <p>Email : {{studentinfo.profile.emailAddress}}</p>
                </div>
            </div>
       



        </div>

        <div class="col s7">
            <div class="card purple lighten-5">
                <span class="card-title">Assignments:</span>
                <div class="row">
                    <div class="col s8 offset-s2">
                        <!-- Teal page content  -->
                        {% for assignment in studentassignment %}
                            {% for submission in submissionTime %}
                            {% if assignment.id == submission.courseWorkId %}
                                {% if submission.late %}

                        <div class="card red accent-4">
                            <div class="card-content white-text">
                                
                                
                                <h7>Status : Late Submission</h7>
                                <div class="collection">
                                    <a href="/student/info/assignment/detail/?courseWorkId={{assignment.id}}&courseWorkName={{assignment.title}}&Id={{submission.id}}&userId={{uId}}" class="collection-item">{{assignment.title}}</a>
                                </div>
                                

                            </div>
                        </div>
                        {% else %}
                        <div class="card green darken-2">
                            <div class="card-content white-text">
                                    

                                <h7>Status : On-time Submission</h7>
                                <div class="collection">
                                    <a href="/student/info/assignment/detail/?courseWorkId={{assignment.id}}&courseWorkName={{assignment.title}}&Id={{submission.id}}&userId={{uId}}" class="collection-item">{{assignment.title}}</a>
                                </div>
                              

                            </div>
                        </div>
                        {% endif %}
                       
                        {% endif %}
                        {% endfor %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</main>
{% include "component/footer.html" %}