{% load static %}
{% include "component/header.html" %}
<main>
<h1 align=center>Students List</h1>
<div class="collection">
    
    <div class="row">
      <div class="col s8 offset-s2">
              {% for student in studentlist %}
              <div class="card deep-purple lighten-3">
                  <div class="card-content black-text">
                      <a href="/student/info/?userId={{student.userId}}" class="collection-item">{{ student.profile.name.fullName}}</a>
                  </div>
              </div>
            {% endfor %}</div>
      </div>
    </div>
  </main> 

       

{% include "component/footer.html" %}
