{% load static %}
{% load authextras %}
{% include "component/header.html" %}
<main>
    <div class="container">
        <div class="row"><h1 align="center">Assignment</h1></div>
        {% if request.user.is_authenticated and request.user|has_group:"Instructor" %} 
        <div class="card deep-purple lighten-5">
            <div class="card-content black-text">
                <span class="card-title">New Assignment</span>
                            <form method="post">
                                    {% csrf_token %}
                                    <div class="input-field col s6">
                                        <input id="title" name="title" type="text" class="validate">
                                        <label for="title">Assignment Title</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="assignmentDescription" name="description" type="text" class="validate">
                                        <label for="assignmentDescription">Assignment Description</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="maximumScores" name="maxscores" type="number" class="validate">
                                        <label for="maximumScores">Maximum Scores</label>
                                    </div>
                                <div class="card  red lighten-5">
                                  <div class="card-content black-text">
                                    <span class="card-title">Please attach material links : </span>
                                    <div class="input-field col s6">
                                        <input id="easyMaterial" name="easymaterial"type="text" class="validate">
                                        <label for="easyMaterial">Easy Material</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="mediumMaterial" name="mediummaterial" type="text" class="validate">
                                        <label for="mediumMaterial">Medium Material</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="hardMaterial" name="hardmaterial" type="text" class="validate">
                                        <label for="hardMaterial">Hard Material</label>
                                    </div>
                                  </div>
                                </div>
                            
                        
                                
                                <button class="btn waves-effect waves-light" style="float: right;" type="submit" name="submit">Submit
                                    <i class="material-icons right">send</i>
                                  </button>
                                </form>
                                </div>

            </div>
            {% else %} 
            <div class="card deep-purple lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Current Course: {{courseName}}</span>
                    <div class="card red lighten-5">
                                <form method="post">
                                        {% csrf_token %}
                                        <button class="btn waves-effect waves-light" style="float: right;" type="submit" name="submit">Release Assignment
                                            <i class="material-icons right">send</i>
                                          </button>
                                          </form>
                                     </div>
                </div>
            </div>
                                
                            
                
            {% endif %}

                             
                       


        <div class="row"></div>
    </div>
  </main> 

       

{% include "component/footer.html" %}
