{% load static %}
{% include "component/header.html" %}
<main>
    <div class="container">
        <div class="row"><h1 align="center">Upload Coursework</h1></div>
        {% if request.user.is_authenticated and request.user|has_group:"Instructor" %} 
        <div class="card deep-purple lighten-5">
            <div class="card-content black-text">
                <span class="card-title">Please fill in to upload</span>
                            <form method="post">
                                    <div class="input-field col s6">
                                        <input id="assignmentTitle" type="text" class="validate">
                                        <label for="assignmentTitle">Assignment Title</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="assignmentDescription" type="text" class="validate">
                                        <label for="assignmentDescription">Assignment Description</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="maximumScores" type="number" class="validate">
                                        <label for="maximumScores">Maximum Scores</label>
                                    </div>
                                <div class="card  red lighten-5">
                                  <div class="card-content black-text">
                                    <span class="card-title">Please attach material links : </span>
                                    <div class="input-field col s6">
                                        <input id="easyMaterial" type="text" class="validate">
                                        <label for="easyMaterial">Easy Material</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="mediumMaterial" type="text" class="validate">
                                        <label for="mediumMaterial">Medium Material</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="hardMaterial" type="text" class="validate">
                                        <label for="hardMaterial">Hard Material</label>
                                    </div>
                                  </div>
                                </div>
                            
                        
                                
                                <input type="submit" value="Submit">
                                </form>
                                </div>

            </div>
            {% else %} 
            <div class="card deep-purple lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Current Course:</span>{{courseId}}
                                <form method="post">
                                     <div class="card red lighten-5">
                                        <button class="btn waves-effect waves-light" style="float: right;" type="submit" name="cours">Realease Assignment
                                            <i class="material-icons right">Realease Assignment</i>
                                          </button>
                                     </div>
                </div>
            </div>
                                
                            
                
            {% endif %}

                             
                       
            </div>


        <div class="row"></div>
    </div>
  </main> 

       

{% include "component/footer.html" %}
